@import "tailwindcss";
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap');

@theme {
  --font-sans: 'Satoshi', sans-serif;
  --font-display: 'Satoshi', sans-serif;
}
