@import "tailwindcss";
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap');

@theme {
  --font-sans: 'Satoshi', sans-serif;
  --font-display: 'Satoshi', sans-serif;
  --color-neon-lime: #D4F800;
  --color-dark-surface: #111111;
}
